<table>
  <thead>
    <tr>
      <td>Employee Id</td>
      <td>Employee First Name</td>
      <td>Employee Middle Name</td>
      <td>Employee Last Name</td>
      <td>Department</td>
      <td>Birth Date</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{employee.EmployeeId}}</td>
      <td>{{employee.FirstName}}</td>
      <td>{{employee.LastName}}</td>
      <td>{{employee.MiddleName}}</td>
      <td>{{employee.Department}}</td>
      <td>{{employee.BirthDate}}</td>
    </tr>
    <tr *ngFor="let employee of employees" [class.selected]="employee === selectedEmployee" (click)="onSelected(employee)">
  </tbody>
</table>
<app-get-single-employee [employee]="selectedEmployee"></app-get-single-employee>
